.complete{
    text-align: center;
    margin-top: 5%;
}

.complete table {
    background-color: white !important;
    border-style: none;
}



td {
    border: none !important;
}

.head {
    background-color: rgb(238, 209, 156);
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #f1bd79, 2px -2px 0 #f1bd79, -2px 2px 0 #f1bd79, -2px -2px 0 #f1bd79, 2px 0px 0 #f1bd79, 0px 2px 0 #f1bd79, -2px 0px 0 #f1bd79, 0px -2px 0 #f1bd79;
}