@import '../../../style/common.scss';

$font-stack: "Comic Sans MS", cursive, sans-serif;
$topBottom: 3rem;
$leftRight: 1rem;

.body-wrapper {
  width: 1400px;
  margin: 0 auto;
  
  padding-top: $topBottom;
  padding-bottom: $topBottom;
  padding-left: $leftRight;
  padding-right: $leftRight;
  font-family: $font-stack;
  
  @include media("<wide") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 100%;
  }
}
