@import '../../../style/common.scss';

.body-wrapper {
  width: 1400px;
  margin: 0 auto;
  
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 100%;
  }
}
