.nav-wrapper {
    font-size: 45px;
    font-weight: 900;
}

.title{
    border-bottom: 2px dotted black;
}

.picture{
    height: 60px;
    width: 50px;
    margin-left: 10px;
    padding-bottom: 9px;
}

.breadcrumb {
    font-size: 24px;
    background-color: white !important;
    justify-content: flex-end;
    margin-bottom: 0 !important;
}

.breadcrumb img{
    padding-left: 5px;
}

.breadcrumb a{
    color:#f58142;
}

dl, ol, ul {
    margin-top: 0 !important;
}