.nav-wrapper {
    padding: 10px;
    font-size: 45px;
    font-weight: 900;
    border-bottom: 2px dotted black;
}

.picture{
    height: 60px;
    width: 50px;
    margin-left: 10px;
    padding-top:12px;
}