.topChoice-Wrapper {
    flex: 1;
    margin-right: 10px;
}

.table {
    background-color:rgb(247, 238, 238);
    text-align: center;
    font-size: 25px;
    height: 450px;
    border: 5px solid rgb(245, 212, 212);
    margin-top: 30px;
}

.table td{
    padding: 5px;
    text-shadow: 5px 3px 0px rgb(226, 221, 221);
    width: 300px;
    height: 100px;
}

p {
    font-size: 15px;
    text-align: center;
}


