.nespresso h1{
    font-size: 45px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.capsules{
    text-align: center;
}

.capsules h3{
    padding: 15px;
    font-size: 20px;
    color: #FFFFFF;
    background: #F7C1C1;
    text-shadow: 4px 3px 0px #7A7A7A;
}

.modal{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(96, 96, 99);
}

.modalPic{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.test{
    padding-bottom: 25px;
    border-bottom: 2px dotted rgb(96, 96, 99);
}