.marker {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background-color: #df1919;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    color: white;
    padding: 8px;
}