h1 {
    padding: 25px;
    text-align: center;
    color:white;
    text-shadow: 2px 2px 0 #b56b40, 2px -2px 0 #b56b40, -2px 2px 0 #b56b40, -2px -2px 0 #b56b40, 2px 0px 0 #b56b40, 0px 2px 0 #b56b40, -2px 0px 0 #b56b40, 0px -2px 0 #b56b40;
}

.coffeeOrder {
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.coffeeOrder h4 {
    color: white;
    text-shadow: 4px 3px 0px #7A7A7A;
    padding: 10px;
}

.coffeeOrder th {
    background-color: rgb(235, 166, 57);
}

.coffeeOrder td{
    margin-left: 10px;
}

.body img {
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

td{
    padding: 10px;
}

.body tr:nth-child(even) {background-color: #f2f2f2;}

